@import "select/bootstrap-multiselect";
@import "select/darg_drop";

// Fix nested form-control selectize behavior that
// removes rounded corners from the inner form-control
.input-group .form-control .form-control:first-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.selectize-search-field.single .selectize-input:after {
  content: "\f11c" !important;
  font-family: FontAwesome;
  top: auto !important;
  bottom: 26px !important;
  right: 30px !important;
  margin-top: 0 !important;
  border: 0  !important;
  color: #333;
}
.selectize-search-field.multi .selectize-input:after {
  position: absolute;
  content: "\f11c" !important;
  display: inline !important;
  font-family: FontAwesome;
  bottom: 6px !important;
  right: 15px !important;
  margin-top: 0 !important;
  border: 0  !important;
  color: #333;
  z-index: -1;
}
